*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body{
  font-family: arial, sans-serif;
  font-size: 16px;
  background: #4a465b;
}
.contenedor{
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  overflow: hidden;/* Pongo esto pq estoy poniendo float en el .main y en el aside. Es para corregir el error que sale con float */
}
